In [6]:
import pandas as pd
import numpy as np

### Determine the effective spread using the block method `cov([dt1, dt2, dt3], [dt4, dt5, dt6])`

### Determine the effective spread using the serial covariance `cov([dt1, dt2, dt3], [dt2, dt3, dt4])`

In [ ]:
data = pd.read_csv('data/aapl_5m_train.csv')
data.drop(columns=['Unnamed: 0', 'Gmtoffset', 'Datetime', 'Volume'], inplace=True)
data['Diff'] = data['Close'].diff()
data['Diff_Shift'] = data['Diff'].shift()
data = data.dropna()

windows = [5, 10, 20, 50, 100]


for window in windows:
    data[f'W_{window}'] = data['Diff'].rolling(window=window).cov(data['Diff_Shift'])

for i in range(len(windows)):
    data[f'Spread_{windows[i]}'] = 2 * np.sqrt(np.abs(data[f'W_{windows[i]}']))


bid_ask = pd.DataFrame()
for i in range(len(windows)):
    bid_ask[f'Bid_{windows[i]}'] = np.where(data['Diff'] > 0,
                                            data['Close'],
                                            data['Close'] - data[f'Spread_{windows[i]}'])
    bid_ask[f'Ask_{windows[i]}'] = np.where(data['Diff'] > 0,
                                            data['Close'] + data[f'Spread_{windows[i]}'],
                                            data['Close'])
bid_ask.head(30)

,Bid_5,Ask_5,Bid_10,Ask_10,Bid_20,Ask_20,Bid_50,Ask_50,Bid_100,Ask_100
0,132.059997,NaN,132.059997,NaN,132.059997,NaN,132.059997,NaN,132.059997,NaN
1,132.250000,NaN,132.250000,NaN,132.250000,NaN,132.250000,NaN,132.250000,NaN
2,NaN,131.589996,NaN,131.589996,NaN,131.589996,NaN,131.589996,NaN,131.589996
3,NaN,131.448898,NaN,131.448898,NaN,131.448898,NaN,131.448898,NaN,131.448898
4,130.554683,131.119995,NaN,131.119995,NaN,131.119995,NaN,131.119995,NaN,131.119995
5,130.639457,130.875000,NaN,130.875000,NaN,130.875000,NaN,130.875000,NaN,130.875000
6,130.032152,130.509902,NaN,130.509902,NaN,130.509902,NaN,130.509902,NaN,130.509902
7,130.889999,131.159861,130.889999,NaN,130.889999,NaN,130.889999,NaN,130.889999,NaN
8,130.935806,131.088253,130.935806,NaN,130.935806,NaN,130.935806,NaN,130.935806,NaN
9,131.053604,131.270971,131.053604,131.361040,131.053604,NaN,131.053604,NaN,131.053604,NaN
10,130.414575,130.684005,130.523265,130.684005,NaN,130.684005,NaN,130.684005,NaN,130.684005
11,131.115097,131.658896,131.115097,131.474627,131.115097,NaN,131.115097,NaN,131.115097,NaN
12,130.566415,131.044998,130.832765,131.044998,NaN,131.044998,NaN,131.044998,NaN,131.044998
13,130.301292,130.749893,130.491669,130.749893,NaN,130.749893,NaN,130.749893,NaN,130.749893
14,130.247893,130.709793,130.430763,130.709793,NaN,130.709793,NaN,130.709793,NaN,130.709793
15,131.000000,131.383326,131.000000,131.322212,131.000000,NaN,131.000000,NaN,131.000000,NaN
16,129.911627,130.309997,129.826530,130.309997,NaN,130.309997,NaN,130.309997,NaN,130.309997
17,129.615276,129.866699,129.651477,129.866699,NaN,129.866699,NaN,129.866699,NaN,129.866699
18,130.089996,130.475572,130.089996,130.446968,130.089996,NaN,130.089996,NaN,130.089996,NaN
19,130.324996,130.382456,130.324996,130.633909,130.324996,130.623000,130.324996,NaN,130.324996,NaN
20,129.687632,129.996398,129.671938,129.996398,129.748761,129.996398,NaN,129.996398,NaN,129.996398
21,129.531460,129.895004,129.708799,129.895004,129.615236,129.895004,NaN,129.895004,NaN,129.895004
22,129.910003,130.207226,129.910003,130.124893,129.910003,130.116596,129.910003,NaN,129.910003,NaN
23,129.605056,129.690002,129.469192,129.690002,129.461006,129.690002,NaN,129.690002,NaN,129.690002
24,129.150240,129.390106,129.207368,129.390106,129.168199,129.390106,NaN,129.390106,NaN,129.390106
25,129.413299,129.559953,129.413299,129.662721,129.413299,129.662818,129.413299,NaN,129.413299,NaN
26,128.951020,129.148498,128.960850,129.148498,128.871525,129.148498,NaN,129.148498,NaN,129.148498
27,128.658228,128.820007,128.635082,128.820007,128.625320,128.820007,NaN,128.820007,NaN,128.820007
28,128.427442,128.580001,128.410811,128.580001,128.364042,128.580001,NaN,128.580001,NaN,128.580001
29,128.200024,128.351699,128.171340,128.351699,128.123864,128.351699,NaN,128.351699,NaN,128.351699